body {
  margin: 10px;
  white-space: nowrap;
  width: 300px;
  padding: 5px;
}

h1 {
  font-size: 15px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.area-container {
  margin-bottom: 20px;
}

.area {
  margin-top: 10px;
}

.tags-compare {
  width: 200px;
  height: 26px;
  border-radius: 6px;
  background-color: #e2e1e1;
  font-size: 14px;
  border: 1px solid #c7c5c5;
  margin: auto;
  display: block;
}